<header>
  <div class="container container-header">
    <div class="container-header__logo">
      <a>
        David
        <span>
          Silva.
        </span>
      </a>
      <!-- <nav class="container__nav">
        <a>Home</a>
        <a>Trabalhos</a>
        <a>Sobre mim</a>
        <a>Projetos</a>
      </nav> -->
    </div>
    <div class="container-header__menu">
      <div class="container-header__menu--nav">
        <!-- <button class="button">Fale comigo</button> -->
        <div class="container-header__menu-hamburger">
          <input type="checkbox" id="checkbox">

          <label for="checkbox">
            <span class="container-header__menu-hamburger--pointer"></span>
            <span class="container-header__menu-hamburger--pointer"></span>
            <span class="container-header__menu-hamburger--pointer"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <section class="portifolio">
    <div class="portifolio__content">
      <h1>Olá eu sou
        <span>David Silva.</span>
      </h1>
      <button class="portifolio__content--button">Front-End</button>
    </div>
    <p>Seja bem vindo!! Ao meu  portifólio website.</p>
    <div class="portifolio__perfil">
      <img src="/assets/portifolio/david.jpg" alt="">
    </div>
  </section>
  <section class="sobre-mim">
    <h2>Sobre Mim!!</h2>
    <div class="sobre-mim__gif">
      <img src="/assets/sobre-mim/codando.gif" alt="">
    </div>
    <div class="sobre-mim__content">
      <p>
        Olá me chamo David, sou uma pessoa otimista e sempre penso como eu posso melhorar a cada dia.
        Meu inicio no universo da programação começou no fim do ano 2020, e sempre me peguei pensando se eu seria capaz
        de realmente me torna um programador, e resposta foi sim, quando conseguir passar no processo seletivo do Instituto Proa
        e com isso "ver de perto", como é ser um programador.
      </p>
      <p>Atualmente estou em busca de uma recolocação no mercado de trabalho na área de T.I,
        pois tenho alguns conhecimento na área por ter atuado como jovem aprendiz mas especifico no setor de Front-End
        onde tive a oportunidade de atuar com um Framework chamado Angular e tudo o que aprendia eu colocava em pratica.
      </p>
    </div>
  </section>
  <section class="experiencia-de-trabalho">
    <h2>Experiencia de Trabalho</h2>
    <div class="experiencia-de-trabalho__logo">
      <img src="/assets/trabalho/logo-pan.png" alt="">
    </div>
    <div class="experiencia-de-trabalho__content">
      <h3>Na parte de experiência no mercado de trabalho, eu tive a oportunidade de trabalhar como jovem aprendiz  no Banco Pan, e lá tive bastante
        espaço para me aprimorar, tanto na Soft-skils como na Hard-Skils, agradeço demais ter tido essa oportunidade, principais atividade:
      </h3>
      <p>Desenvolvimento e manutenção do Projeto de Autocontratação de Empréstimo Consignado (INSS, SIAPE, Autônomo e FGTS).
        Principais atividades: construção e sustentação de páginas web (Mobile First) com HTML5, SASS, TypeScript, Angular, RxJS com utilização de boas práticas.
        Controle de versionamento dos projetos utilizando repositórios Git e acompanhamento de sprints através de metodologias ágeis como Scrum e Kanban.</p>
    </div>
  </section>
  <section class="meus-projetos">
    <h2>My Projects</h2>
    <div class="meus-projetos__emoji">
      <p>Aqui está alguns projetos que fiz, espero que gostem
      <img src="/assets/projetos/Emoji.svg" alt="">
      </p>
    </div>
    <div>
      <div class="meus-projetos__list" >
        <div class="meus-projetos__container">
          <img src="/assets/projetos/king-burger.png" alt="" class="meus-projetos__list--image">
          <p class="name-game">Projeto Blizzard</p>
        </div>
        <div class="meus-projetos__container">
          <img src="/assets/projetos/blizzard.png" alt="" class="meus-projetos__list--image">
          <p class="name-game">Projeto King Burger</p>
        </div>
      </div>
    </div>
  </section>
</main>
